name: CI-PR

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 150

      - name: Install and run Luacheck
        uses: nebularg/actions-luacheck@v1
        with:
          args: "--no-color -q"
          annotate: warning

      - name: Create Retail Package
        uses: BigWigsMods/packager@master
        with:
          args: -d -z

      - uses: actions/upload-artifact@v2
        with:
          name: AIO-PR${{ github.event.number }}
          path: .release/

      - name: Create Classic Package
        uses: BigWigsMods/packager@master
        with:
          args: -d -z -g classic

      - uses: actions/upload-artifact@v2
        with:
          name: AIO-PR${{ github.event.number }}-classic
          path: .release/

      - name: Create BCC Package
        uses: BigWigsMods/packager@master
        with:
          args: -d -z -g bcc

      - uses: actions/upload-artifact@v2
        with:
          name: AIO-PR${{ github.event.number }}-bcc
          path: .release/

      - name: Create Wrath Package
        uses: BigWigsMods/packager@master
        with:
          args: -d -z -g wrath

      - uses: actions/upload-artifact@v2
        with:
          name: AIO-PR${{ github.event.number }}-wrath
          path: .release/

